header.pagina02 {
    background-color: var(--color1);
    padding: 10px 10px;
    display: flex;
    gap: 300px;
    width: 100%;

}

header.pagina02 h1 {
    font-size: 1rem;
    padding-top: 0.2%;
}

header.pagina02 p {
    font-size: 0.8rem;
    padding-top: 0.2%;
    font-weight: light;
}

header.pagina02 p select {
    margin-right: 10px;
    color: black;
}

header.pagina02 p select option {
    color: black;
}

header.pagina02 p.logout {
    margin-left: 30%;
    font-size: 1.5rem;
    padding-bottom: 5px;
}

ul {
    padding-top: 30px;
}

ul li {
    color: var(--color2);
    padding: 10px 50px;
    font-size: 0.8rem;
    text-align: justify;
    list-style-type: square;

}

ul li a {
    color: var(--color2);
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}

@media (max-width:1500px) {
    header.pagina02 {
        flex-wrap: nowrap;
        width: 100%;
    }

    header.pagina02 p.logout {
        padding: 0 5%;
        margin: 0;
    }
}

@media (max-width:1000px) {
    header.pagina02 {
        gap: 15%;

    }

    header.pagina02 p.logout {
        margin: 0;
        padding: 0 4%;
    }
}

@media (max-width: 500px) {
    header.pagina02 {
        gap: 2%;
        font-size: 0.4rem;
        display: block;
        padding: 10px 0 10px 0;

    }

    header.pagina02 p select {
        width: 40%;
        margin-top: 10px;

    }


    header.pagina02 p.logout {
        margin: 0;
        text-align: right;
        padding-top: 10px;

    }
}