@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: 'Assistant',
        sans-serif;
    ;
    color: #FFFFFF;
    font-weight: bold;
}

:root {
    --color1: #FF80C0;
    --color2: #0B5ED7;
}